{% extends 'base.html.twig' %}

{% block title %}Редактировать проект{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        form {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        input[type="text"],
        input[type="number"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>

    <div class="container">
        <h1>Редактировать проект</h1>
        <div style="display: none;">
            {{ form_row(form.status) }}
        </div>
        {{ form_start(form) }}
        {{ form_row(form.projectInfo.title) }}
        {{ form_row(form.projectInfo.description) }}
        {{ form_row(form.projectInfo.current_amount) }}
        {{ form_row(form.projectInfo.goal_amount) }}
        {{ form_row(form.projectInfo.project_img) }}

        <button type="submit" class="btn btn-success">Сохранить изменения</button>
        {{ form_end(form) }}
    </div>
{% endblock %}