{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/projects.css') }}"> <!-- Подключаем специфичные стили для страницы -->
{% endblock %}

{% block navbar%}
    <div class = "navBar">
        <h2>Мои проекты</h2>
    </div>
{% endblock %}

{% block content %}
        <div class="container">
            <div class="actions">
                {% if app.user %}
                    <a href="{{ path('create_project') }}" class="btn">Создать проект</a>
                {% endif %}
            </div>
            <div class="projects">
                {% if projects is not empty %}
                    {% for project in projects %}
                        <div class="project">
                            <h2>{{ project.getProjectInfo().getTitle() }}</h2>
                            <p>{{ project.getProjectInfo().getDescription() }}</p>
                            <p>Текущая сумма: {{ project.getProjectInfo().getCurrentAmount() }}</p>
                            <p>Целевая сумма: {{ project.getProjectInfo().getGoalAmount() }}</p>
                            <div class="project-actions">
                               <a href="{{ path('edit_project', { id: project.getId() }) }}" class="btn">Изменить проект</a>
                                <form action="{{ path('delete_project', { id: project.getId() }) }}" method="POST">
                                    <button type="submit" class="btn">Удалить проект</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>У вас пока нет проектов.</p>
                {% endif %}
            </div>
        </div>
{% endblock %}