{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/auth.css') }}"> <!-- Подключаем специфичные стили для страницы -->
{% endblock %}

{% block navbar%}
    <div class = "navBar">
        <h2>Вход</h2>
    </div>
{% endblock %}

{% block content %}
    <main>
        <form method="post">
            <input type="email" value="{{ last_username }}" placeholder="Введите почту" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <input type="password" placeholder="Введите пароль" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
                <button class="btnPurp btn-lg btn-primary" href="{{ path('app_main') }}" type="submit">Войти</button>
        </form>
    </main>
{% endblock %}
