{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"> <!-- Подключаем специфичные стили для страницы -->
{% endblock %}

{% block content %}
    <div class="projects">
        {% for project in pagination %}
            <div class="project">
                <div class="project-image">
                    {% if project.getProjectInfo().getProjectImg() %}
                        <img src="{{ asset('uploads/' ~ project.getProjectInfo().getProjectImg()) }}" alt="{{ project.getProjectInfo().getTitle() }}">
                    {% endif %}
                </div>
                <div class="project-details">
                    <h2>{{ project.getProjectInfo().getTitle() }}</h2>
                    <p>{{ project.getProjectInfo().getDescription() }}</p>
                </div>
                <div class="project-details1">
                    <a href="{{ path('view_project', {'id': project.id}) }}" class="btn">View Project</a>
                    <span class="likes">likes: {{ project.getProjectInfo().getLikes() }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pagination.currentPageNumber > 1 or pagination.currentPageNumber < pagination.totalItemCount / pagination.getItemNumberPerPage() %}
        <div class="pagination">
            {% if pagination.currentPageNumber > 1 %}
                <a href="{{ path('app_main', { page: pagination.currentPageNumber - 1 }) }}">Previous</a>
            {% endif %}
            {% for page in 1..pagination.pageCount %}
                {% if pagination.currentPageNumber == page %}
                    {{ page }}
                {% else %}
                    <a href="{{ path('app_main', { page: page }) }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if pagination.currentPageNumber < pagination.pageCount %}
                <a href="{{ path('app_main', { page: pagination.currentPageNumber + 1 }) }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}


